{% extends "EJEvalBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Détails {% endblock %}


{% block body %}


        <h2>Détail :</h2>
        <hr />

        <h2>{{ event.title }}</h2>

        <p>   {{ event.description }} </p>








{% endblock %}